<!-- index is visible on /. Displays 5 most recent posts. -->

{% extends "base.html" %}

{% block content %}
<h1>Recent Posts</h1>
<div>
  {% for post in posts %}
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title"><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
      <p class="card-subtitle text-muted small">By <a href="/users/{{post.user_id}}">{{post.user.first_name}}
          {{post.user.last_name}}</a>
        |
        {{post.created_at.strftime('%a %b %d, %Y')}}
      </p>
      <p class="card-text">{{post.content | truncate(300, '...')}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}