<!-- TAG LIST is visible on /tags path. Display all tags. -->

{% extends "base.html" %}

{% block content %}
<div>
  <h1>Create a Tag</h1>
  <!-- NEW POST SUBMISSION FORM-->
  <form action="/tags/new" method="post">
    <label class="input-group mb-3" for="tag">
      <span class="input-group-text">Tag</span>
      <input class="form-control" id="tag" name="tag" type="text">
    </label>
    <div class="d-flex flex-row-reverse">
      <a href="/tags" class="btn btn-info ms-1">Cancel</a>
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </form>
</div>
{% endblock %}